{% extends '::layout.html.twig' %}


{% block title_content %}Gestion des Utilisateurs{% endblock %}

{% block content %}
    <table class="table .table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>username</th>
                <th>email</th>
                <th>famille</th>
                <th>authorisations</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in users %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.family }}</td>
                <td>{{ entity.roles|join(' ')  }}</td>
                <td>
                        {% if 'ROLE_ADMIN' not in entity.roles %}
                        <a class="btn btn-small btn-inverse " href="{{ path('admin_promote', { 'username': entity.username }) }}">autoriser</a>
                        {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
