{% extends 'AtcHouseShareBundle::layout.html.twig' %}

{% block content %}

    <h2>Liste des courses manquantes</h2>
		<p>Username: {{ app.user.username }} <a href="{{ path('logout') }}">déconnection</a></p>

<div style="float: left; width: 600px;" >
    <table class="records_list">
   
        <tbody>
        {% for entity in shoplist %}
          {%if entity.isBought != true %}
            <tr>
                <td><b>{{ entity.isBought }} {{ entity.article }}</b> </td>
                <td>ajouté par {{ entity.author }}</td>
                <td>le {% if entity.addingDate %}{{ entity.addingDate|date('d/m/Y') }}{% endif %}</td>
                <td><a href="{{ path('shoplist_bought', { 'id': entity.id }) }}">j'ai acheté</a></td>
            </tr>
           {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <ul>
        <li>
            <a href="{{ path('shoplist_new') }}">ajouter un article à acheter</a>
        </li>
    </ul>
</div>
<br style="clear:left ;" />
<div style="float: left; width: 600px;" >
		<h2>Cahier de Liaison</h2>	
			{% for entity in postlist %}
              <p style="border: 1px solid grey">
								{{ entity.post }}
              	<legend>{% if entity.dateAdd %}{{ entity.dateAdd|date('Y-m-d') }}{% endif %}</legend>
              </p>
      {% endfor %}
</div>
<br/>
<div style="float: right;">
{% include 'ADesignsCalendarBundle::calendar.html.twig' %}
</div>

<br style="clear:both;"/>

emails:
aaa@test.com
aaa@test.com
aaa@test.com
aaa@test.com
aaa@test.com


{% endblock %}