{% extends '::layout.html.twig' %}

{% block title_content %}Réservation plannning Bréhat{% endblock %}

{% block content -%}
<div class="row-fluid">
    <div class="span4">
        <div class="widget">
            <div class="widget-header">
              <div class="title">
                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>Nouvelle Réservation
            </div>
        </div>
        <div class="widget-body">
             <form action="{{ path('datereg_create') }}" method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <p>
                    <button type="submit">Enregistrer</button>
                </p>
            </form>
        </div>
    </div> 
    </div>
    <div class="span8">
        <div class="widget">
            <div class="widget-header">
              <div class="title">
                <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span>Réservation en cours
            </div>
        </div>
        <div class="widget-body">
            <table class="records_list table table-condensed table-bordered no-margin">
                <thead>
                    <tr>
                        <th class="span3">Réservation</th>
                        <th class="span1">auteur</th>
                        <th class="span1">date de départ</th>
                        <th class="span1">date de fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>{{ entity.title }}</td>
                        <td>{{ entity.author }}</td>
                        <td>{% if entity.startDatetime %}{{ entity.startDatetime|date('d M Y H:i') }}{% endif %}</td>
                        <td>{% if entity.endDatetime %}{{ entity.endDatetime|date('d M Y H:i') }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<br style="clear: both" />
{% endblock %}
